@(message: String, isLoggedIn: Boolean, userInfo: UserInfo, userForm: Form[views.formdata.UserFormData], carrierMap: Map[String, Boolean], newsSubscriptions: List[NewsServicesSubscription])

@import helper._
@import views.html.bootstrap3._

@Main("Account", isLoggedIn, userInfo) {
    <div class="container">

        <!-- Begin Preferences Section -->
        <div class="container">
            <h2>Contact Information</h2>
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Enter you contact information here.<br>
                            Make sure its up-to-date; this is how we'll notify you.</h4>
                    </div>
                    <div class="panel-body">
                    @form(routes.Application.updateUserInfo(), 'class -> "form-horizontal") {

                        @hidden(userForm("id"))

                            <!-- First Name -->
                        @text(userForm("firstName"),
                            label = "First",
                            placeholder = "First Name",
                            help = "")

                            <!-- Last Name -->
                        @text(userForm("lastName"),
                            label = "Last",
                            placeholder = "Last Name",
                            help = "")

                            <!-- Email -->
                        @text(userForm("email"),
                            label = "Email",
                            placeholder = "you@somewhere.com",
                            help = "")

                            <!-- Telephone -->
                        @text(userForm("telephone"),
                            label = "Mobile Phone",
                            placeholder = "808-555-1234",
                            help = "")

                            <!-- Service Carrier -->
                        @bootstrap3.select(userForm("carrier"),
                            label = "Mobile Carrier",
                            optionMap = carrierMap,
                            isMultiple = false,
                            help = "")

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button id="submit" type="submit" class="btn btn-success btn-sm">Save Changes</button>
                            </div>
                        </div>
                    }
                    </div></div></div></div>

            <!-- End Preferences Section -->


            <!-- Subscription Section -->
        <div class="container">
            <h2>Current Service Subscriptions</h2>

            <div class="container">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Service</th>
                        <th>Notify When</th>
                        <th>Notify By</th>
                        <th>Options</th>
                    </tr>

                    @for(subscription <- newsSubscriptions) {
                      <tr>
                        <td>@subscription.getHeader()</td>
                        <td>@subscription.getNotificationTime()</td>
                        <td>@subscription.getMethod()</td>
                        <td>

                          <a class="btn btn-primary btn-xs"
                             data-toggle="modal"
                             href="@routes.Application.news()">
                            <div class="glyphicon glyphicon-pencil"></div> Edit
                          </a>&nbsp;&nbsp;
                          <a class="btn btn-danger btn-xs"
                            data-toggle="modal"
                            href="@routes.Application.deleteNewsSubscription(subscription.getId())">
                          <div class="glyphicon glyphicon-remove"></div> Remove
                          </a>
                        </td>
                      </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}