@(message: String, isLoggedIn: Boolean, userInfo: UserInfo, newsServicesForm: Form[views.formdata.NewsServicesFormData])

@import helper._
@import views.html.bootstrap3._

@Main("News Services", isLoggedIn, userInfo) {
    <div class="container">
    @form(routes.Application.updateNewsSubscriptions()) {
        <h1>News Services</h1>

        <! -- Honolulu Star Advertiser -->
        <div class="leftaligned-image">
            <img src="http://sa-cmedia01.staradvertiser.com/sa_com_header/images/hsa_logo.jpg">
        </div>
        <div class="panel panel-default">

                <!-- Table -->
            <table class="table">
                <col width="55%">
                <col width="10%">
                <col width="15%">
                <col width="10%">
                <col width="10%">
                <tr>
                    <th>Service</th>
                    <th>Subscribe</th>
                    <th>Notify By</th>
                    <th>Notify At</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Breaking News</td>
                    <td>
                        @selectYesNo(newsServicesForm("hsaBreakingSubscribe"),
                            isMultiple = false)
                    </td>
                    <td>
                        @selectNotifyBy(newsServicesForm("hsaBreakingNotifyBy"),
                            isMultiple = false)
                    </td>
                    <td>
                        @selectNotifyAtHour(newsServicesForm("hsaBreakingNotifyAtHour"),
                            isMultiple = false)
                    </td>
                    <td>
                        @selectNotifyAtPeriod(newsServicesForm("hsaBreakingNotifyAtPeriod"),
                            isMultiple = false)
                    </td>
                </tr>
                <tr>
                    <td>Popular News</td>
                    <td>
                    @selectYesNo(newsServicesForm("hsaPopularSubscribe"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyBy(newsServicesForm("hsaPopularNotifyBy"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtHour(newsServicesForm("hsaPopularNotifyAtHour"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtPeriod(newsServicesForm("hsaPopularNotifyAtPeriod"),
                        isMultiple = false)
                    </td>
                </tr>
                <tr>
                    <td>Sports</td>
                    <td>
                    @selectYesNo(newsServicesForm("hsaSportsSubscribe"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyBy(newsServicesForm("hsaSportsNotifyBy"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtHour(newsServicesForm("hsaSportsNotifyAtHour"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtPeriod(newsServicesForm("hsaSportsNotifyAtPeriod"),
                        isMultiple = false)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <button type="button"
                                class="btn btn-primary"
                                data-toggle="modal"
                                data-target="#confirmSave"
                                id="submit">Save</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <! -- Maui News -->
        <div class="leftaligned-image">
            <img src="http://www.wildhawaii.org/graphics/logo_maui_news2_177px.jpg">
        </div>
        <div class="panel panel-default">

                <!-- Table -->
            <table class="table">
                <col width="55%">
                <col width="10%">
                <col width="15%">
                <col width="10%">
                <col width="10%">
                <tr>
                    <th>Service</th>
                    <th>Subscribe</th>
                    <th>Notify By</th>
                    <th>Notify At</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Breaking News</td>
                    <td>
                    @selectYesNo(newsServicesForm("mnBreakingSubscribe"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyBy(newsServicesForm("mnBreakingNotifyBy"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtHour(newsServicesForm("mnBreakingNotifyAtHour"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtPeriod(newsServicesForm("mnBreakingNotifyAtPeriod"),
                        isMultiple = false)
                    </td>
                </tr>
                <tr>
                    <td>Business News</td>
                    <td>
                    @selectYesNo(newsServicesForm("mnBusinessSubscribe"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyBy(newsServicesForm("mnBusinessNotifyBy"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtHour(newsServicesForm("mnBusinessNotifyAtHour"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtPeriod(newsServicesForm("mnBusinessNotifyAtPeriod"),
                        isMultiple = false)
                    </td>
                </tr>
                <tr>
                    <td>Hawaii News</td>
                    <td>
                    @selectYesNo(newsServicesForm("mnHawaiiSubscribe"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyBy(newsServicesForm("mnHawaiiNotifyBy"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtHour(newsServicesForm("mnHawaiiNotifyAtHour"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtPeriod(newsServicesForm("mnHawaiiNotifyAtPeriod"),
                        isMultiple = false)
                    </td>
                </tr>
                <tr>
                    <td>Local News</td>
                    <td>
                    @selectYesNo(newsServicesForm("mnLocalSubscribe"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyBy(newsServicesForm("mnLocalNotifyBy"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtHour(newsServicesForm("mnLocalNotifyAtHour"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtPeriod(newsServicesForm("mnLocalNotifyAtPeriod"),
                        isMultiple = false)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <button type="button"
                                class="btn btn-primary"
                                data-toggle="modal"
                                data-target="#confirmSave"
                                id="submit1">Save</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>


        <! --  Civil Beat -->
        <div class="leftaligned-image">
            <img src="http://civilbeat_production.s3.amazonaws.com/images/redesign/logo.png">
        </div>

        <div class="panel panel-default">
                <!-- Default panel contents -->
                <!-- Table -->
            <table class="table">
                <col width="55%">
                <col width="10%">
                <col width="15%">
                <col width="10%">
                <col width="10%">
                <tr>
                    <th>Service</th>
                    <th>Subscribe</th>
                    <th>Notify By</th>
                    <th>Notify At</th>
                    <th></th>
                </tr>

                <tr>
                    <td>Most Popular Stories</td>
                    <td>
                    @selectYesNo(newsServicesForm("cbPopularSubscribe"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyBy(newsServicesForm("cbPopularNotifyBy"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtHour(newsServicesForm("cbPopularNotifyAtHour"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtPeriod(newsServicesForm("cbPopularNotifyAtPeriod"),
                        isMultiple = false)
                    </td>
                </tr>
                <tr>
                    <td>Honolulu News</td>
                    <td>
                    @selectYesNo(newsServicesForm("cbHonoluluSubscribe"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyBy(newsServicesForm("cbHonoluluNotifyBy"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtHour(newsServicesForm("cbHonoluluNotifyAtHour"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtPeriod(newsServicesForm("cbHonoluluNotifyAtPeriod"),
                        isMultiple = false)
                    </td>
                </tr>
                <tr>
                    <td>Hawai'i News</td>
                    <td>
                    @selectYesNo(newsServicesForm("cbHawaiiSubscribe"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyBy(newsServicesForm("cbHawaiiNotifyBy"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtHour(newsServicesForm("cbHawaiiNotifyAtHour"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtPeriod(newsServicesForm("cbHawaiiNotifyAtPeriod"),
                        isMultiple = false)
                    </td>
                </tr>
                <tr>
                    <td>Education</td>
                    <td>
                    @selectYesNo(newsServicesForm("cbEducationSubscribe"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyBy(newsServicesForm("cbEducationNotifyBy"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtHour(newsServicesForm("cbEducationNotifyAtHour"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtPeriod(newsServicesForm("cbEducationNotifyAtPeriod"),
                        isMultiple = false)
                    </td>
                </tr>
                <tr>
                    <td>Politics</td>
                    <td>
                    @selectYesNo(newsServicesForm("cbPoliticsSubscribe"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyBy(newsServicesForm("cbPoliticsNotifyBy"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtHour(newsServicesForm("cbPoliticsNotifyAtHour"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtPeriod(newsServicesForm("cbPoliticsNotifyAtPeriod"),
                        isMultiple = false)
                    </td>
                </tr>
                <tr>
                    <td>Energy and Environment</td>
                    <td>
                    @selectYesNo(newsServicesForm("cbEnergyAndEnvironmentSubscribe"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyBy(newsServicesForm("cbEnergyAndEnvironmentNotifyBy"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtHour(newsServicesForm("cbEnergyAndEnvironmentNotifyAtHour"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtPeriod(newsServicesForm("cbEnergyAndEnvironmentNotifyAtPeriod"),
                        isMultiple = false)
                    </td>
                </tr>
                <tr>
                    <td>Development</td>
                    <td>
                    @selectYesNo(newsServicesForm("cbDevelopmentSubscribe"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyBy(newsServicesForm("cbDevelopmentNotifyBy"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtHour(newsServicesForm("cbDevelopmentNotifyAtHour"),
                        isMultiple = false)
                    </td>
                    <td>
                    @selectNotifyAtPeriod(newsServicesForm("cbDevelopmentNotifyAtPeriod"),
                        isMultiple = false)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <button type="button"
                                        class="btn btn-primary"
                                        data-toggle="modal"
                                        data-target="#confirmSave"
                                        id="submit2">Save</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>

            <!-- Modal -->
        <div class="modal fade" id="confirmSave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Notify Hawai'i News Services</h4>
                    </div>
                    <div class="modal-body">
                        Your subscription preferences have been updated.
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">OK</button>
                    </div>
                </div>
            </div>
        </div>


    }
    </div>




}